{{> head}}

{{> navbar}}

<div class="row">
  <div class="col-8">
    <h1>Esto es sobre la web</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur, saepe delectus ex laborum eos dignissimos, voluptatibus, quos quod atque perferendis obcaecati nisi eaque non sed numquam consequatur et blanditiis.</p>
  </div>
  <div class="col-4">
    <img src="/assets/img/web.png" class="img-thumbnail">
  </div>
</div>
{{> footer}}